<div style="margin: auto; width: 50%; padding: 10px;">
  <h1>Badget Submitted!</h1>
  <p>Badget UUID:</p>
  <p><%= @badget_info["badget UUID"] %></p>
  <p>Hash:</p>
  <p><%= @badget_info["hash"] %></p>
  <p>Hash ID Node:</p>
  <p><%= @badget_info["hash id node"] %></p>
</div>
